{% extends "base.html" %}

{% block title %}
{{ movie.title_orig }}
{% endblock %}

{% block content %}
<h1>{{ movie.title_orig|upper }}</h1>
<div class="movie-details">
    <div class="movie-title-orig">Originální název: {{ movie.title_orig }}</div>
    <div class="movie-title-cz">Český název: {{ movie.title_cz }}</div>
    <div class="movie-title-sk">Slovenský název: {{ movie.title_sk }}</div>
    <div class="movie-year">Rok: {{ movie.year }}</div>

    <div class="movie-countries">Země:
        {% for country in movie.countries.all %}
            {{ country }}
        {% endfor %}
    </div>

    <div class="movie-genres">Žánry:
        {% for genre in movie.genres.all %}
            {{ genre }}
        {% endfor %}
    </div>

    <span class="movie-directors">Režie:
        {% for director in movie.directors.all %}
            <span class="movie-director"><a href="{% url 'person' director.id %}">{{ director }}</a></span>
        {% endfor %}
    </span>

    <span class="movie-actors">Hrají:
        {% for actor in movie.actors.all %}
            <span class="movie-actor"><a href="{% url 'person' actor.id %}">{{ actor }}</a></span>
        {% empty %}
            Nikdo nehraje.
        {% endfor %}
    </span>

    <div class="movie-description">Popis: {{ movie.description }}</div>
    <div class="movie-video"><a href="{{ movie.video }}">Video</a></div>
    <div class="movie-avg-rating">Průměrné hodnocení:
        {% if avg_rating %}
            {{ avg_rating.rating__avg|floatformat:"0" }}
        {% else %}
            Dosud nehodnoceno
        {% endif %}
    </div>
    {% if request.user.is_authenticated %}
        {% if user_rating %}
            Vaše hodnocení je: {{ user_rating.rating }}
        {% endif %}
        <form method="post" action="{% url 'rate_movie' %}">
            {% csrf_token %}
            <label for="rating">Hodnocení filmu (0-100):</label>
            <input type="number" id="rating" name="rating" min="0" max="100">
            <input type="hidden" name="movie_id" value="{{ movie.id }}">
            <input type="submit">
        </form>

        <a href="{% url 'movie_update' movie.id %}"><button>Upravit</button></a>
        <a href="{% url 'movie_delete' movie.id %}"><button>Smazat</button></a>
    {% endif %}

    {% if request.user.is_authenticated %}
    <form action="{% url 'add_comment' %}" method="post">
        {% csrf_token %}
        <label for="rating">Pridat komentar:</label>
        <div>
            <textarea name="comment" cols="100" rows="5"></textarea>
        </div>
        <input type="hidden" name="movie_id" value="{{ movie.id }}">
        <input type="submit" value="Odoslat komentar">
    </form>
    {% endif %}

    <h3>Komentáře k filmu:</h3>
    {% for comment in comments %}
        <p>
        {{ comment.comment }}
        <h6><strong>{{ comment.user }}</strong></h6>
         <h6>{{ comment.created }}</h6>
        </p>
        <hr>
    {% empty %}
        Dosud žádný komentář.
    {% endfor %}

</div>
{% endblock %}