{% extends "base.html" %}

{% block content %}
<div class="actors-list">
    <h1>Seznam herců</h1>
    <ul>
        {% for actor in actors %}
            <li><a href="{% url 'person' actor.id %}">{{actor}} ({{actor.acting_in_movie.count}})</a> </li>
        {% endfor %}
    </ul>
</div>
<div class="directors-list">
    <h1>Seznam režisérů</h1>
    <ul>
        {% for director in directors %}
            <li><a href="{% url 'person' director.id %}">{{director}} ({{director.directing_movie.count}})</a> </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}